@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Variables */
:root {
  --primary: rgb(241, 241, 241);
  --secondary: rgb(48, 47, 47);
  --hero-color: rgb(102, 179, 243);
  --light: rgb(244, 250, 252);
  --thin: rgb(117, 116, 116);
  --transition: all ease-in-out 0.3s;
  --shadow: rgb(223, 209, 209) 0 0 3px 0;
}

/* Reset */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--hero-color);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary);
}

.menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

span {
  color: var(--hero-color) !important;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

ul,
li {
  list-style: none;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  overflow-x: hidden;
}

input {
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: var(--hero-color);
  padding: 15px;
  border: none;
  outline: none;
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 750 !important;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--primary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

img {
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
}

/* ============================== Full ============================== */
.main-container {
  /* Layout */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  /* ============================== Hero ============================== */
  /* Mobile Style */
  /* Laptop */
  /* Desktop */
  /* ============================== Main ============================== */
  /* Tablet */
  /* Laptop */
  /* Desktop */
  /* ============================== Footer ============================== */
  /* Laptop & Table */
  /* Laptop & Table */
}

.main-container .hero {
  height: auto;
  max-width: 788px;
  margin: 20px 15px 20px 15px;
  /* Showcase */
}

.main-container .hero .navbar {
  width: 100%;
  /* Layout */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Mobile */
}

.main-container .hero .navbar .icon {
  -ms-grid-column-align: end;
      justify-self: end;
}

.main-container .hero .navbar .icon i {
  font-size: 1.5rem;
}

.main-container .hero .navbar .icon i:hover {
  cursor: pointer;
  color: var(--hero-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.main-container .hero .navbar .menu.mobile {
  position: absolute;
  right: 0;
  margin-top: 4rem;
  margin-right: 1rem;
  z-index: 99;
  background-color: var(--primary);
  width: 20rem;
  padding: 20px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 5px;
  text-align: center;
  display: none;
}

@media screen and (max-width: 500px) {
  .main-container .hero .navbar .menu.mobile {
    width: 100%;
    margin-right: 0;
  }
}

.main-container .hero .navbar .menu.mobile .menu-item {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  margin-bottom: 1rem;
}

.main-container .hero .navbar .menu.mobile .actions {
  border-top: 1px #cecbcb solid;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

.main-container .hero .navbar .menu.mobile .actions button:nth-child(1) {
  background: none;
  color: var(--secondary);
}

.main-container .hero .navbar .desktop {
  display: none;
}

.main-container .hero .showcase {
  display: -ms-grid;
  display: grid;
  margin-top: 5rem;
  place-items: center;
}

.main-container .hero .showcase .img-container {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: -1;
  grid-row: 2/1;
}

.main-container .hero .showcase .img-container img {
  max-width: 403px;
}

.main-container .hero .showcase .txt-container {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.8rem;
}

.main-container .hero .showcase .txt-container h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.main-container .hero .showcase .txt-container p {
  line-height: 1.5rem;
}

@media screen and (min-width: 835px) {
  .main-container .hero {
    margin: 20px;
    max-width: unset;
  }
  .main-container .hero .navbar {
    place-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    /* Mobile */
  }
  .main-container .hero .navbar .icon {
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 60px;
    display: none;
  }
  .main-container .hero .navbar .logo {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 50px;
  }
  .main-container .hero .navbar .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
  }
  .main-container .hero .navbar .menu .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
  }
  .main-container .hero .navbar .menu .menu-item li {
    padding: 10px;
  }
  .main-container .hero .navbar .menu .menu-item li a:hover {
    color: var(--hero-color);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .main-container .hero .navbar .menu .actions {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
  }
  .main-container .hero .navbar .menu .actions button {
    width: 8rem;
    font-weight: 700;
  }
  .main-container .hero .navbar .menu .actions button:nth-child(1) {
    background: none;
    color: var(--secondary);
  }
  .main-container .hero .navbar .menu .actions button:nth-child(1):hover {
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: var(--hero-color);
  }
  .main-container .hero .navbar .menu.mobile {
    display: none !important;
  }
  .main-container .hero .showcase {
    margin: 180px 60px 0 60px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 2rem;
  }
  .main-container .hero .showcase .txt-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: -1;
    grid-row: 2/1;
    margin-top: unset;
    grid-gap: 0.8rem;
  }
  .main-container .hero .showcase .txt-container h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }
  .main-container .hero .showcase .txt-container p {
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-container .hero .showcase {
    margin: 130px 60px 0 60px;
    margin-top: 4.8rem;
  }
  .main-container .hero .showcase .txt-container h1 {
    font-size: 5rem;
  }
  .main-container .hero .showcase .txt-container button {
    width: 50%;
  }
  .main-container .hero .showcase .txt-container p {
    font-size: 1.2rem;
  }
  .main-container .hero .showcase .img-container img {
    max-width: unset;
  }
}

.main-container .main {
  height: auto;
  max-width: 788px;
  margin: 15px;
  padding: 5px;
  /* Layout */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  /* Shortly Container */
  /* Service Container */
}

.main-container .main .shortly-container {
  width: 100%;
  height: 200px;
  background-color: var(--hero-color);
  padding: 40px 15px 40px 15px;
  border-radius: 5px;
  z-index: 5;
  margin-top: 4rem;
  /* Layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .main .shortly-container input {
  padding: 22px;
  width: 100%;
  font-size: 1rem;
}

.main-container .main .shortly-container button {
  background-color: var(--secondary);
  margin-top: 1rem;
  width: 100%;
  padding: 20px;
  font-weight: 500;
}

.main-container .main .service-container {
  height: auto;
  margin-top: 4rem;
}

.main-container .main .service-container .content {
  display: -ms-grid;
  display: grid;
}

.main-container .main .service-container .content .intro {
  text-align: center;
  line-height: 23px;
  margin-bottom: 2rem;
}

.main-container .main .service-container .content .intro h3 {
  padding: 10px;
  line-height: 33px;
  margin-top: -2rem;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.main-container .main .service-container .content .intro p {
  color: var(--thin);
  font-size: 0.9rem;
}

.main-container .main .service-container .content .item {
  background-color: var(--light);
  padding: 25px;
  margin: 2rem 0 2rem 0;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 5px;
  text-align: center;
  line-height: 23px;
  /* Layout */
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.main-container .main .service-container .content .item .icon {
  z-index: 2;
  background-color: var(--hero-color);
  border-radius: 100%;
  position: relative;
  top: -50px;
  padding: 30px;
  width: 10px;
  height: 10px;
}

.main-container .main .service-container .content .item .icon i {
  color: var(--secondary);
  font-size: 3.4rem;
}

.main-container .main .service-container .content .item p {
  color: var(--thin);
  font-size: 0.9rem;
}

.main-container .main .service-container .content .item h3 {
  padding: 10px;
  line-height: 33px;
  margin-top: -2rem;
}

@media screen and (max-width: 668px) {
  .main-container .message-container {
    margin-top: 28rem;
  }
}

@media screen and (min-width: 861px) {
  .main-container .main {
    max-width: unset;
  }
  .main-container .main .shortly-container {
    height: 180px;
    width: 92%;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px;
    margin-top: 6.6rem;
  }
  .main-container .main .shortly-container button {
    margin-bottom: 1rem;
    width: 40%;
    margin-left: 1rem;
  }
  .main-container .main .shortly-container input {
    font-size: 1.5rem;
    padding: 17px;
  }
  .main-container .main .service-container {
    margin: 7rem 3rem 0 3rem;
  }
  .main-container .main .service-container .content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 1rem;
  }
  .main-container .main .service-container .content .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .main-container .main .service-container .content .intro h3 {
    font-size: 3rem;
  }
  .main-container .main .service-container .content .intro p {
    font-size: 1rem;
  }
  .main-container .main .service-container .content .item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .main-container .main .service-container .content .item:nth-child(2) h3 {
    font-size: 1.8rem;
  }
  .main-container .main .service-container .content .item:nth-child(2) p {
    font-size: 0.9rem;
  }
  .main-container .main .service-container .content .item:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .main-container .main .service-container .content .item:nth-child(3) h3 {
    font-size: 1.8rem;
  }
  .main-container .main .service-container .content .item:nth-child(3) p {
    font-size: 0.9rem;
  }
  .main-container .main .service-container .content .item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .main-container .main .service-container .content .item:nth-child(4) h3 {
    font-size: 1.8rem;
  }
  .main-container .main .service-container .content .item:nth-child(4) p {
    font-size: 0.9rem;
  }
}

.main-container .footer-container {
  width: 100%;
  text-align: center;
}

.main-container .footer-container .message {
  background-color: var(--hero-color);
  padding: 25px;
  height: 180px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.main-container .footer-container .message h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.main-container .footer-container .message button {
  background-color: var(--secondary);
}

.main-container .footer-container .footer {
  background-color: var(--secondary);
  color: var(--light);
  padding: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.main-container .footer-container .footer a {
  color: var(--light);
}

.main-container .footer-container .footer a:hover {
  color: var(--hero-color);
  text-decoration: underline;
}

.main-container .footer-container .footer .content {
  margin: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.main-container .footer-container .footer .content .item {
  padding: 10px;
  line-height: 50px;
  display: -ms-grid;
  display: grid;
}

.main-container .footer-container .footer .content .social-media span i {
  font-size: 1.2rem;
  padding-right: 5px;
}

.main-container .footer-container .footer .text {
  border-top: 1px var(--thin) solid;
  padding: 40px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.main-container .footer-container .footer .text a {
  color: var(--hero-color);
  text-decoration: underline;
}

@media screen and (min-width: 788px) {
  .main-container .footer-container {
    text-align: start;
  }
  .main-container .footer-container .message h3 {
    font-size: 2rem;
  }
  .main-container .footer-container .footer .content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1239px) {
  .main-container .footer-container .message h3 {
    font-size: 3rem;
  }
  .main-container .footer-container .footer .content {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}
/*# sourceMappingURL=index.css.map */